


/* register undertale font*/
@font-face {
  font-family: 'Undertale';
  src: url(./fonts/undertale-font.ttf) format('truetype');
}
/*set undertale font*/
h1 {
  font-family: 'PixelFont', sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: #3d405b

}
/*register P tag font*/
@font-face {
  font-family: 'PixelFont';
  src: url(./fonts/p\ font.ttf) format('truetype');
}
/*set p tag font*/
p {
  font-family: 'PixelFont', sans-serif;
  font-size: 20px;
  color: #3d405b;
}

a {
  font-family: 'PixelFont', sans-serif;
  font-size: 20px;
  color: #3d405b;
}


/*set background color*/
body {
    background-color: #81b29a;
}

.tetris {
    float: right;
    margin-left: 0px; /* optional spacing */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* adjust the height as needed */
}

.header a {
  margin-right: 10px;
}